@import "tailwindcss";

@theme {
  --container-container: 1170px; 
  --text-sajib50: 50px; 
  --color-offwhite: #FAFAFA; 
  --color-primary: #DB4444; 
  --font-pop: ["Poppins", "sans-serif"]; 
}
.one{
  background: #00000080;
}